<div *ngIf="employee$ | async as emp">
  <mat-form-field>
    <input matInput placeholder="Name" [value]="emp.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [value]="emp.email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone" [value]="emp.phone" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Position" [value]="emp.position" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Address">
      {{ emp.address.street }}
      {{ emp.address.number }}
      {{ emp.address.city }}
    </textarea>
  </mat-form-field>
</div>
